.medium-zoom-overlay {
  z-index: 999 !important;
}
.medium-zoom-image {
  z-index: 1000 !important;
}
.medium-zoom-overlay {
  z-index: 99;
}
.medium-zoom-image--opened {
  z-index: 100;
}
.medium-zoom-overlay {
  z-index: 999 !important;
}
.medium-zoom-image--opened {
  z-index: 1000 !important;
}
.main a:has(img) {
  pointer-events: none;
}
.main a:has(img) img {
  pointer-events: auto;
}
#img-preview-mask {
  animation: fadeIn 0.2s ease;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
